<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIAD_KAA_Entities.Properties.Settings.SIAD_KAA_SolucionesConnectionString"
            connectionString="Data Source=ALEX-PC\SQLEXPRESS2012;Initial Catalog=&quot;SIAD_KAA Soluciones&quot;;User ID=SIAD-KAA; Password=SIAD-KAA123"
            providerName="System.Data.SqlClient" />
        <add name="SIAD_KAA_Entities.Properties.Settings.SIAD_KAA_SolucionesConnectionString1"
            connectionString="Data Source=ALEX-PC\SQLEXPRESS2012;Initial Catalog=&quot;SIAD_KAA Soluciones&quot;;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="SIAD_KAA_Entities.Properties.Settings.SIAD_KAA_SolucionesConnectionString2"
            connectionString="Data Source=ALEX-PC\SQLEXPRESS2012;Initial Catalog=&quot;SIAD_KAA Soluciones&quot;;Persist Security Info=True;User ID=SA"
            providerName="System.Data.SqlClient" />
        <add name="SIAD_KAA_Entities.Properties.Settings.SIAD_KAAConnectionString"
            connectionString="Data Source=ALEX-PC\SQLEXPRESS2012;Initial Catalog=SIAD_KAA;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="SIAD_KAA_Entities.Properties.Settings.SIAD_KAAConnectionString1"
            connectionString="Data Source=ALEX-PC\SQLEXPRESS2012;Initial Catalog=SIAD_KAA;Persist Security Info=True;User ID=SIAD-KAA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>